<header class="d-flex justify-content-end text-white bg-black custom-padding">
    <div class="d-flex justify-content-center align-items-center gap-lg-5 gap-md-4 gap-3">
        <span class="hover-transformacion" id="instagram">
            <img class="altura-fija filtro-negativo altura-fija-img" src="/assets/iconos/instagram.png" alt="img-red-social">
        </span>
    
        <span class="hover-transformacion" id="tiktok">
            <img class="altura-fija filtro-negativo altura-fija-img" src="/assets/iconos/tiktok.png" alt="img-red-social">
        </span>

        <span class="hover-transformacion" id="location">
            <img class="altura-fija filtro-negativo altura-fija-img" src="/assets/iconos/location.png" alt="img-red-social">
        </span>
    </div>
</header>


