<div class="py-5">
    <h2>Mis trabajos</h2>
    
    <div>
        <shared-tipo-trabajo 
            [tituloTipotrabajo]="titulo1" 
            [listaImagenes]="imagenes1">
        </shared-tipo-trabajo>
        
        <shared-tipo-trabajo 
            [tituloTipotrabajo]="titulo2" 
            [listaImagenes]="imagenes2">
        </shared-tipo-trabajo>
        
        <shared-tipo-trabajo 
            [tituloTipotrabajo]="titulo3" 
            [listaImagenes]="imagenes3">
        </shared-tipo-trabajo>
    </div>

</div>