<div class="py-5 container">
    <p class="display-3">Mis trabajos</p>
    <hr>
    
    <div class="d-flex justify-content-center flex-column">
        <shared-tipo-trabajo 
            [tituloTipotrabajo]="titulo1" 
            [listaImagenes]="blackwork">
        </shared-tipo-trabajo>
        
        <shared-tipo-trabajo 
            [tituloTipotrabajo]="titulo2" 
            [listaImagenes]="ignorant">
        </shared-tipo-trabajo>
        
        <shared-tipo-trabajo 
            [tituloTipotrabajo]="titulo3" 
            [listaImagenes]="linea">
        </shared-tipo-trabajo>
    </div>

</div>