<nav class="navbar navbar-expand-lg bg-black">
    <div class="container-fluid">
        <span class="text-white" style="font-size: 1.5rem;">Paticl0wnTattoo</span>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon filtro-negativo"></span>
        </button>
            
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-top: 1rem;">
            <ul class="navbar-nav me-auto d-flex justify-content-end gap-3">
                <li>
                    <a class="nav-item d-flex gap-3" href="https://www.instagram.com/paticl0wn.tattoo/">
                        <img class="filtro-negativo altura-fija-img" src="/assets/iconos/instagram.png" alt="img-red-social">
                        <span class="text-white">Instagram</span>
                    </a>
                </li>
                <li>
                    <!-- todo link tiktok -->
                    <a class="nav-item d-flex gap-3" href="">
                        <img class="filtro-negativo altura-fija-img" src="/assets/iconos/tiktok.png" alt="img-red-social">
                        <span class="text-white">TikTok</span>
                    </a>
                </li>
                <li class="nav-item d-flex gap-3" (click)="mostrarUbicacion()">
                    <img class="filtro-negativo altura-fija-img" src="/assets/iconos/location.png" alt="img-red-social">
                    <span class="text-white">Ubicación</span>
                </li>
            </ul>
        </div>
        <!-- fin contenedor -->
    </div>
</nav>